.iyskm { 
  padding-bottom: 14px;
  border-left-width: 54px;
  padding-top: 29px;
  padding-right: 26px;
  border-right-width: 91px;
  font-size: 35px;
  padding-left: 66px;
  font-size: 97px;
  margin-left: 5px;
  border-top-width: 92px;
  margin-bottom: 29px;
  border-top-width: 41px;
  padding-left: 68px;
  padding-top: 72px;
  padding-right: 41px;
  margin-top: 66px;
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 8px;
  margin-bottom: 9px;
  padding-bottom: 65px;
  margin-bottom: 79px;
  border-top-width: 92px;
  padding-bottom: 33px;
  border-left-width: 40px;
  font-size: 77px;
  padding-bottom: 93px;
  margin-right: 22px;
  font-size: 73px;
  font-size: 24px;
  border-top-width: 2px;
  border-bottom-width: 72px;
  margin-bottom: 33px;
  border-left-width: 34px;
  margin-top: 39px;
  margin-right: 44px;
  padding-right: 0px;
  padding-bottom: 42px;
  padding-right: 31px;
  margin-left: 18px;
  padding-bottom: 1px;
  margin-bottom: 85px;
  border-bottom-width: 20px;
  border-bottom-width: 8px;
  padding-top: 1px;
  padding-left: 3px;
  margin-bottom: 94px;
  font-size: 12px;
  font-size: 13px;
  border-right-width: 83px;
  border-top-width: 14px;
  border-bottom-width: 99px;
  margin-left: 25px;
  margin-right: 94px;
  padding-top: 87px;
  padding-bottom: 85px;
  border-top-width: 4px;
  margin-right: 32px;
  padding-left: 30px;
  padding-top: 11px;
  border-top-width: 13px;
  margin-top: 66px;
  padding-bottom: 56px;
  line-height: 4px;
  padding-left: 10px;
  border-top-width: 15px;
  border-bottom-width: 55px;
  border-top-width: 70px;
  padding-right: 1px;
  line-height: 72px;
  border-top-width: 59px;
  border-top-width: 78px;
  border-right-width: 75px;
  margin-right: 89px;
  margin-left: 75px;
  padding-left: 62px;
  margin-top: 32px;
  margin-left: 79px;
  margin-top: 0px;
  margin-left: 70px;
  border-bottom-width: 78px;
  border-bottom-width: 43px;
  padding-right: 77px;
  padding-right: 76px;
  margin-right: 91px;
  border-top-width: 64px;
  margin-top: 67px;
  margin-left: 1px;
  padding-left: 42px;
  margin-top: 70px;
  border-right-width: 43px;
  padding-top: 45px;
  margin-left: 21px;
  padding-top: 56px;
  margin-top: 42px;
  border-top-width: 55px;
  margin-right: 40px;
  padding-left: 6px;
  border-left-width: 54px;
  border-bottom-width: 31px;
  border-right-width: 75px;
  border-left-width: 10px;
  padding-bottom: 29px;
  padding-left: 63px;
  margin-right: 4px;
  border-left-width: 18px;
  margin-right: 90px;
  border-top-width: 48px;
  padding-top: 84px;
  font-size: 16px;
  padding-right: 71px;
  padding-bottom: 60px;
  margin-left: 6px;
  margin-bottom: 42px;
  margin-left: 45px;
  padding-left: 14px;
  padding-top: 83px;
  font-size: 50px;
  margin-right: 37px;
  margin-top: 34px;
  padding-top: 40px;
  line-height: 1px;
  border-left-width: 38px;
  margin-right: 17px;
  padding-right: 33px;
  line-height: 34px;
  padding-top: 14px;
  padding-right: 31px;
  padding-bottom: 74px;
  margin-top: 52px;
  margin-bottom: 80px;
  font-size: 9px;
  padding-top: 58px;
  margin-top: 41px;
  font-size: 81px;
  border-right-width: 45px;
  margin-top: 25px;
  padding-right: 74px;
  border-right-width: 8px;
  margin-right: 33px;
  padding-top: 29px;
  padding-left: 17px;
  border-bottom-width: 27px;
  border-top-width: 35px;
  font-size: 63px;
  margin-right: 36px;
  padding-top: 46px;
}
