.iyskm { 
  padding-bottom: 14px;
  border-left-width: 54px;
  padding-top: 29px;
  padding-right: 26px;
  border-right-width: 91px;
  font-size: 35px;
  padding-left: 66px;
  font-size: 97px;
  margin-left: 5px;
  border-top-width: 92px;
  margin-bottom: 29px;
  border-top-width: 41px;
  padding-left: 68px;
  padding-top: 72px;
  padding-right: 41px;
  margin-top: 66px;
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 8px;
  margin-bottom: 9px;
  padding-bottom: 65px;
  margin-bottom: 79px;
  border-top-width: 92px;
  padding-bottom: 33px;
  border-left-width: 40px;
  font-size: 77px;
  padding-bottom: 93px;
  margin-right: 22px;
  font-size: 73px;
  font-size: 24px;
  border-top-width: 2px;
  border-bottom-width: 72px;
  margin-bottom: 33px;
  border-left-width: 34px;
  margin-top: 39px;
  margin-right: 44px;
  padding-right: 0px;
  padding-bottom: 42px;
  padding-right: 31px;
  margin-left: 18px;
  padding-bottom: 1px;
  margin-bottom: 85px;
  border-bottom-width: 20px;
  border-bottom-width: 8px;
  padding-top: 1px;
  padding-left: 3px;
  margin-bottom: 94px;
}
